html
{
    background-color: #BAE5B8;
}

br
{
    display:block;
    clear:both;
    margin-top:10px;
}

h1
{
    font-family: "ADLaM Display", serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #46A4C4;
    line-height: normal;
    font-size:100px;
}

h1 em
{
    font-style: normal;
    font-size:larger;
    color: #FAEA4B;
    text-shadow:
    -4px -4px 0 #FABF52,
    4px -4px 0 #FABF52,
    -4px 4px 0 #FABF52,
    4px 4px 0 #FABF52;
}

h2 em
{
    font-style: normal;
    font-size:larger;
    color: #FAEA4B;
}


h2
{
    font-family: "ADLaM Display", serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #46A4C4;
    line-height: normal;
}

h3
{
    font-family: "ADLaM Display", serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #46A4C4;
    line-height: normal;
    font-size: large;
}

p
{
    font-family: "ADLaM Display", serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #46A4C4;
    line-height: normal;
    font-size: 90px;
}

.banner img
{
    width: 100%;
}

nav
{
    background-image: url("images/banner.png");
    width: 100%;
    height: 140px;
}

nav h2{
    float:left;
    margin-top: 15px;
    margin-left:15px;
}


nav h3
{
    float:right;
    margin-top: 15px;
    margin-right:15px;
}

nav em
{
    font-style: normal;
    font-size:larger;
    color:#46A4C4;
}

header
{
    margin-top: -60px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:40%;
}
.row0
{
    /*new header image*/
    img{
        margin-top: 70px;
        display:block;
         width: 100%;
         clear: both;
    }
}
.row3
{
    margin-top:40px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    clear: both;
}

.row3 h3
{
    margin-left:10%;
}



/*------- GAME!!!!!! --------*/

/* .example img
{
    /* margin:10px;
    width: 100%;
    margin-left:8%; 
} */

.center
{
    display:block;
    width:700px;
    margin-left:auto;
    margin-right: auto;
    margin-top: -200px;
}
.insertTextField{
    background-color: rgb(237, 238, 232);
     height: 100px; 
    width: 50%; 
    padding: 12px 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    border-radius: 8px
}
.typingArea{
    width: 50%;
}
button
{
    border:none;
    background-color: #8ADB6B;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size:30px;
    font-family: "ADLaM Display", serif, Arial, Helvetica, sans-serif;
    margin: 10px;
    border-radius: 14px;
    filter: drop-shadow(-1px 2px 0px #075313);
    color: #FAEA4B;
}

.LRTriggerButtons
{
    width: 50px;
    margin-left:70px;
    margin-right: 50px;
    float: left; 
}

.LRTriggerButtons button:hover
{
    background-color: #85d067;
    filter: drop-shadow(0px 0px 0px #075313);
    margin-left: 9px;
    margin-top: 10px;
    margin-right: 11px;
}

.buttonL
{
    background-color: #8ADB6B;
}
.buttonL button:hover
{
    background-color: #8ADB6B;
}
.buttonR
{
    background-color: #74C1DC;
}

.buttonR button:hover
{
    background-color: #6fb3cc;
}
.enterAndClear
{
    margin-top: 50px;
    margin-left: 20px;
    width: 25%;
    float: left;
}
.submit{
    float:left;

}
.clear{
    float:left;

}
.imagez{
    width: 100%;

}
.imagez img{
    size-adjust: 15%;
}
/*----------ABOUT! ----------*/

.aboutHead
{
    display:block;
    margin-top:24px;
    width:40%;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}

.profileColumns
{
    padding-top: 40px;
}

.profileColumns section
{
    width: 35%;
    background-color: #fffef6;
    padding:10px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-bottom: 60px;
}

.profileColumns h2
{
    display:block;
    width:50%;
    font-style:none;
    text-decoration: none;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}



.profileColumns img
{
    display:block;
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin-left:auto;
    margin-ri